@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

    max-width: 100%;
    overflow-x: hidden;
}

/* Style for the checkbox */
/* Style for the checkbox */
.react-responsive-modal-closeButton {
  display: none !important;
}

.react-responsive-modal-modal {
  border-radius: 8px !important;
}

.modal-root {
  min-width: 460px;
}

input[type="checkbox"] {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Define a custom size for the checkbox */
  width: 18px;
  height: 18px;
  /* Add your desired background color */
  background-color: transparent;
  /* Add border-radius for a rounded shape */
  border-radius: 4px;
  /* Add some padding or margin for spacing */
  margin: 5px;
  /* Add border and box-shadow for a better visual */
  border: 1px solid #89225a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* Position relative for pseudo-element */
  position: relative;
}

/* Style for the label */
label {
  /* Add some margin for spacing */
  margin-left: 10px;
}

/* Change the appearance of the checkbox when checked */
input[type="checkbox"]:checked {
  /* Change the background color when checked */
  background-color: #89225a;
  /* You can also change other styles when checked */
  /* For example, change the border color */
  border-color: #89225a;
}

/* Style for the checkmark */
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 5.5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  /* Initially hidden */
}

/* Show the checkmark when the checkbox is checked */
input[type="checkbox"]:checked::before {
  opacity: 1;
}

.margin-modal {}

@media screen and (min-width: 1050px) and (max-width: 1420px) {
  .margin-modal {
    margin-top: 210px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1420px) and (max-width: 1439px) {
  .margin-modal {
    margin-top: 150px;
    margin-bottom: 10px;
  }
}

.flg-select button {
  width: auto;
  font-size: 16px;
  height: 36px;
  /* width: 51px; */
  padding-left: 1px;
  padding-right: 7px;
  position: absolute;
  top: -46px;
  left: 14px;
  border: unset;
  background-color: #e5e7eb;
}

.herosection-bg {
  border-bottom: 1px solid var(--Gray-Gray-200, #e5e7eb);
  background: linear-gradient(0deg,
      var(--Black-Black-07, rgba(0, 0, 0, 0.1)) 0%,
      var(--Black-Black-07, rgba(0, 0, 0, 0.1)) 100%),
    var(--White-White-01, #fff);
}

.banner {
  height: 650px;
}

.banner-content p:first-child {
  border: 1px solid black;
  border: 1px solid #89225a;
}

.banner-content h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}

.banner-inner {
  width: 1270px;
  padding: 0 15px;
  position: relative;
  height: 650px;
}

.banner-content {
  width: 355px;
  position: absolute;
  left: 40px;
  top: 100px;
  z-index: 1;
}

.banner-img {
  position: absolute;
  top: 0;
}

.banner-form {
  width: 400px;
  position: absolute;
  top: 0;
  right: 30px;
}

.banner-form h3 {
  font-size: 32px;
  font-weight: 700;
}

.arrow-border {
  border: 1px solid #e5e7eb;
  border-radius: 130px;
  padding: 4px 4px 4px 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.grediant-border {
  background: linear-gradient(180deg,
      rgba(137, 34, 90, 0.01) -3.92%,
      #89225a 52.37%,
      #fb7cc1 100%);
  border-radius: 8px;
}

.grediant-border .inner-div {
  border-radius: 8px;
}

.bg-section-image {
  background-image: url(../assets/images/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-book-image, .bg-why-choose,.bg-case-study{
  background-image: url(../assets/images/low_vision_bg_design.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-bg{
  background-image: url(../assets/images/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-box:hover {
  background-color: #DFF3FB;
}

.bg-counter-image {
  background-image: url(../assets/images/counter.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-test-image {
  background-image: url(../assets/images/testBG.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.bg4 {
  background-image: url(../assets/images/bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg5 {
  background-image: url(../assets/images/bg5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg6 {
  background-image: url(../assets/images/bg6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.book-test-hero{
  background-image: url(../assets/images/book-test-hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-hero-sec {
  background-image: url(../assets/images/contactus/contactus-hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}



.contact-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
.box-shadow-menu{
  box-shadow: 4px 4px 24px 0px #00000066;

}

.desktop-banner{
  background-image: url(../assets/images/health.jpg);
  height: 500px;
  width: 100%;
  /* background-repeat: no-repeat; */
  background-size: cover;
}


.cardTitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
}

.OfferDis{
  margin-top: 4px;
}

.paginationNav{
  display: inline;
}
.paginationNav li{
  display: inline;
}
.paginationNav li a {
  padding: 10px 22px;
  border: 1px solid #e5e7eb;
  margin: 5px;
  border-radius: 10px;
  color: #777;
}

.GridBatch{
  font-size: 13px;
}
.HomeSubmitBtn {
  background-color: #89225a;
  border-radius: 50px;
  padding: 8px 15px;
  color: #fff;
  width: 100%;
}
.HomeServiceDis {
  height: 150px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 25px;
  font-size: 15px;
}
.FreqBoxImg {
  padding: 5px;
}
.FreqBoxImg>img {
  width: 100px;
}
.FreqBoxTitel {
  font-size: 20px;
}
.FreqBoxMain {
  padding: 5px;
}
.HomeGridImg {
  background: #fce5ee !important;
  border-radius: 10px 10px 0 0;
}
.HomeGridImg>img {
  margin:0px !important;
  width: 130px;
}
.HomeGridOff {
  width: 100%;
  text-align: center;
  margin: -12px 0 0;
}
.HomeGridOff>p {
  background: #c3fcff !important;
  color: #00a4ad;
  margin: 0px;
  border-radius: 0px 0px 10px 10px;
  padding: 2px;
  font-style: italic;
  font-weight: bold;
}
.TestDetailsDis{
  height: 100px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 25px;
    font-size: 15px;
}

.TestDetailsSubmitBtn {
  background-color: #89225a;
  border-radius: 50px;
  padding: 10px 15px;
  color: #fff;
  width: 100%;
  margin-top: 10px;
}
.HomeSearchResultList {
  padding: 5px;
  border: 1px solid #e1e1e1;
  margin: 8px 0;
  background: #fbfbfb;
  border-radius: 10px;
  font-size: 14px;
}
.HomeSearchResultList>strong{
  margin-right: 10px;
  font-weight: normal;
}
.HomeSearchResultList>span {
  color: #89225a;
  background-color: #fce5ee;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 14px;
}
.HomeModelPopup{
  min-height: 600px;
}
.HomeSearchResult {
  margin-top: 20px;
}
.CatSliderMain {
  margin: 20px 10px 30px 0px;
}

.AddInfoDataTableBox:last-child td p {
  max-height: 200px;
  overflow-y: auto;
}
.HeaderCall>span {
  float: left;
  line-height: 1;
  padding: 1px;
}


@media (min-width: 320px) and (max-width: 768px){
  .GridBatch{
    font-size: 11px;
  }
  .servicesBtn{
    width:120px !important;
  }
  .GridListMain>div{
    max-width: 100% !important;
  }
  .HomeGridImg>img {
    margin: 0px !important;
    width: 105px;
}
.GridBoxMob{
  margin:8px;
}
.FreqBoxMainMob{
  margin:5px;
}
.FreqBoxImgMob{
  padding: 8px;
}
.HomeInqFormMob{
  display: block !important;
}
.TestReportHead{
  width: auto !important;
  float: left;
  padding-right:20px;
}
.HomeModelPopup{
  min-height: auto !important;
}
.HeaderCall>span {
 display: none;
}
}